name: font_fit
description: "Drop-in Text that auto-fits width/lines via fast binary search."
version: 0.0.1
repository: https://github.com/farookeei/font_fit

environment:
  sdk: ">=2.17.0 <4.0.0"   
  flutter: ">=2.10.0"      

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2    
